<div class="wrapper">
    <div class="main-header">
        <div class="header-menu">
            <div class="col-md-4">
                <img class="header-logo-image" src="../assets/imgs/logo.png" alt="Hero">
            </div>
            <div class="header-nav-wrapper">
                <ul class="header-nav">
                    <li class="header-nav-item">
                        HOME
                    </li>
                    <li class="header-nav-item">
                        SHOP<span class="fa fa-caret-down"></span>
                    </li>
                    <li class="header-nav-item">
                        JOURNAL
                    </li>
                    <li class="header-nav-item">
                        MORE<span class="fa fa-caret-down"></span>
                    </li>
                </ul>
            </div>
            <div class="header-cart-wrapper">
                <div class="header-cart">
                    <div class="header-cart-item">
                        MY CART<span class="fa fa-caret-down"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-panel">
      <router-outlet></router-outlet>
    </div>
</div>